body{
    background: #eeee;
    overflow-x: hidden;
    margin: 0;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}

/* header{
    padding-left: 10%;
    padding-right: 10%;
} */

/* @media screen and (max-width:900px){
    header{
        padding-left:5%;
        padding-right: 5%;
    }
} */

/* @media screen and (max-width:300px){
    header{
        padding-left:0px;
        padding-right: 0px;
    }
} */
.indexHeading{
    font-family: 'Iceberg', cursive;
    color: #575859;
    letter-spacing: 0.05rem;
    font-weight: 500;
    font-size: 30px;
    margin-top: 40px;
}

.spacingBarDark{
    background: #353637;
    width: 100%;
    height: 1.5px;
    display: inline-block;
    margin-top: 25px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0,0.1);
}

.spacingBarDark.reduced{
    background: #909294;
    height: 1px;
    box-shadow: none;
    margin-top: 0px;
}

@media screen and (max-width:500px){
    .indexHeading{
        font-size: 20px;
        margin-top: 30px;
    }
}

.alignLeft{
    text-align: left;
}

.alignRight{
    text-align: right;
}

.alignCenter{
    text-align: center;
}


.robotJuice{
    color: rgb(195,17,11);
    font-family: 'Damion', cursive;
    font-size: 62px;
    margin: 21px;
    display: inline;
    margin-left: 0px;
    font-weight: 400;
}

.juiceText{
    color: rgb(0,0,0);
    font-family: 'Damion', cursive;
    margin-left: 20px;
}

.robotJuiceText2{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51,51,51);
    display: block;
    width: auto;
    text-align: right;
    transform: translate(-15px,-25px);
    
}

.logoContainer{
    display: inline-block;
}


.navigationBar{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(195, 193, 188);
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

.navigationBar a{
    text-align: center;
    color: rgb(87,88,89);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
    transition: 0.1s;
    position: relative;
}

.navigationBar a::after{
    content: " ";
    height: 50%;
    width: 1px;
    display: inline-block;
    background-color: rgb(195, 193, 188);
    position: absolute;
    right: 0;
    top: 25%;
}

.navigationBar a:last-child::after{
    background:transparent;
}

.navigationBar a:hover{
    background: rgb(195,17,11);
    color: white;
}

.navigationBar a:hover:after{
    background: transparent;
}


.navigationBar a.current {
    background: rgb(195,17,11);
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 14px;
}

.navigationBar a.current::after{
    background-color: transparent;
}

.navigationBar.bottomBar{
    border-bottom-width: 1px;
}

.robotJuiceBanner{
    width: 100%;
    border-bottom: solid 10px;
    border-color: #999999;
}


.itemDisplay h2{
    font-family: 'Iceberg', cursive;
    letter-spacing: 0.02rem;
    color: #333333;
}

.itemDisplay h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    letter-spacing: 0.02rem;
    font-weight: 400;
}

.itemDisplay img{
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
    width: 100%;
}




@media screen and (max-width: 800px){
    .navigationBar a:nth-child(3)::after{
        background: transparent;
    }
}

@media screen and (max-width: 400px){
    .navigationBar a:nth-child(2)::after{
        background: transparent;
    }
    .navigationBar a:nth-child(4)::after{
        background: transparent;
    }
    .navigationBar a:nth-child(3)::after{
        background: rgb(195, 193, 188);
    }
}

@media screen and (max-width: 500px){
    .robotJuice{
        font-size: 48px;
        margin: 12px;
    }
    .navigationBar{
        margin-left: 10px;
        margin-right: 10px;
    }
    .robotJuiceText2{
        font-size: 9px;
        transform: translate(-10px,-15px);
    }
}

@media screen and (max-width: 300px){
    .robotJuice{
        font-size: 36px;
        margin: 12px;
    }
}


.pollRadioContainer{
    height: 200px;
}

.radioContainer label{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 0;
}

.radioContainer label:first-of-type{
    margin-top: 0.5rem;
}

.radioContainer label:last-of-type{
    margin-bottom: 2rem;
}

.radioContainer{
    padding: 0;
}




.readersPollContainer .outsideBox{
    min-width: 20rem;
    background-color: white;
    padding: 1rem;
    min-height: 20rem;
}

@media screen and (max-width:800px){
    .readersPollContainer .outsideBox{
        min-width: auto;
    }
}

.readersPollContainer h2{
    margin: 0;
    margin-bottom: 20px;
}

.readersPollContainer h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 200;
}

.readersPollContainer .red{
    color: #c8110b;
}

.readersPollContainer p{
    font-size: 14px;
}



.sectionTwo h2{
    font-family: 'Iceberg', cursive;
    color: #333333;
    font-size: 28px;
}


.newsEntry h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #a49290;
    margin-bottom: 0px;
}

.newsEntry p{
    padding-left: 0.3rem;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.newsEntry h4{
    color: #c8110b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 0px;
    text-align: right;
    font-style: italic;
}

footer{
    border-top: 1px #575859 solid;
    background-color: white;
    min-height: 100px;
}

footer h2, footer p, footer a{
    color: #c3110b;
    font-family: sans-serif;
    margin: 0;
}

footer h2{
    font-size: 32px;
    margin-bottom: 10px;
}

footer a{
    width: 100%;
    display: block;
    margin: 15px 0px 15px 0px;
}

footer .footerTwo{
    background-color: #c3110b;
    min-height: 100px;
    margin-top: 30px;
    border-top: 1px solid black;
    padding-right: 15%;
}

@media screen and (max-width: 800px){
    .footerTwo{
        padding-right: 0%;
    }
}

.footerTwo h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 600;
}

.footerTwo a{
    display: inline;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 600;
    margin-right: 5px;
    margin-left: 5px;
}

.footerTwo a:first-of-type{
    margin-left: 0px;
}


.footerTwo a:last-of-type{
    margin-right: 0px;
}

.footerTwo span{
    display: inline-block;
    margin-top: 0.8rem;
    margin-bottom: 0.1rem;
}

h2.iceberg{
    font-family: 'Iceberg', cursive;;
}

.similarProducts h4{
    background-color: #70887a;
    padding: 1.3rem;
    text-align: center;
    font-family: 'Iceberg', cursive;
    font-size: 26px;
    color: #333333;
    margin: 0;
    padding-bottom: 2.8rem;
    border-radius: 0.3rem;
    width: 100%;
}



.starOrange{
    font-family: 'Iceberg', cursive;
    color: #cc2b25;
    font-size: 28px;
    font-weight: 900;
}

.normalStar{
    font-family: 'Iceberg', cursive;
    color: #1f1f1f;
    font-size: 28px;
    font-weight: 900;
}

.starOrange.reviewsTitle{
    margin-left: 15px;
}

.sideImages img{
    border: 2px solid;
    border-color: #d97874;
}

.sideImages img:hover{
    cursor: pointer;
    border-color: #c8110b;
}

.mainImage{
    border: 10px solid #ffffffaa;
    width: 98%;
}



.informationDisplay{
    max-width: 60ch;
}


.informationDisplay h2{
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.informationDisplay .price{
    color: #c8110b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
}

.informationDisplay .dropdowns{
    width: 100%;
}

.informationDisplay .dropdowns select{
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}

.informationDisplay .buyNow{
    width: 100%;
    margin-top: 15px;
    border-radius: 0px;
    background-color: #c3110b;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border-width: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 8px;
}

.informationDisplay .buyNow:hover{
    background-color: #940e09;
    cursor: pointer;
}

.link1{
    font-family: Arial, Helvetica, sans-serif;
    color: #8b8b8b;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    text-align: right;
    font-weight: 600;
    font-size: 18px;
}

.link1.first{
    margin-top: 20px;
}


.socials .link1{
    margin-right: 5px;
}

.socials img{
    min-width: 1.3rem;
    transform: scale(0.75);
}

.informationDisplay p{
    font-size: 14px;
    margin-top: 25px;
    line-height: 1.2;
}

#loadAllReviews{
    background-color: #c3110b;
    text-decoration: none;
    border-width: 0;
    border-radius: 1rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 600;
}

#loadAllReviews:hover{
    cursor: pointer;
    background-color: #940e09;
}

.informationDisplay .buyNow:hover{
    cursor: pointer;
}

#reviews .review h3{
    font-size: 20px;
    font-weight: 500;
}

hr{
    height: 1.1px;
    background-color: #909294;
    border: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}

#reviews .review h3{
    font-family: Arial, Helvetica, sans-serif;
}

.pollResult{
    background-color: #840e0a;
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    border-radius: 0.1rem;
    font-weight: 500;
}